* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    height: 57px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    border: 1px dashed white;
    margin-left: 20px;
    padding: 10px;
}

nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid yellow; */
    margin-right: 20px;
}

nav a {
    color: white;
}

main {
    display: flex;
    flex-direction: row;
}

.side {
    border: 2px solid red;
    width: 30%;
    height: 100vh;
}

.side-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 70%;
    height: 100vh;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block img {
    width: 650px;
    height: 450px;
}